html{
    height: 100%;
    margin: 0;
    background-color: #f5f5f5;
}

#ANIMATION{
    background-color: rgb(75,175,200);
    color: #f5f5f5;
}

#LOGIN{
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#HOME{
    background-color: green;
}

.tablink{
    background-color: brown;
    color: #f5f5f5;
    border: none;
    outline: none;
    font-size: 17px;
    width: 25%;
    margin: 0%;
    padding: 14px 16px 14px 16px;
    float: left;
    cursor: pointer;
}

body{
    margin: 0%;
    height: 100%;
}

.tablink:hover{
    background-color: crimson;
}

p::first-line{
    color: red;
}

p::first-letter{
    color: blueviolet;
    font-size: 20px;
}

.font-para{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: 600;
}

.login-container{
    border: 2px solid yellow;
    width: 30vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}